.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
  background-image: url(/public/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.formContainer {
  color: aliceblue;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}
.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
