.start {
  color: aliceblue;
  border-color: aliceblue;
}
.start:hover {
  background-color: #e6b325;
  border: #6ac0df;
}
.login {
  background-color: #e6b325 !important;
  border: #e6b325;
}
.signup {
  background-color: #e6b325 !important;
  border: #e6b325;
}
.search {
  background-color: #e6b325 !important;
  border: #e6b325;
}
.details {
  color: black;
  border-color: black;
}
.details:hover {
  background-color: #e6b325;
  border: #6ac0df;
}
.stop {
  border-color: black;
}
.stop:hover {
  background-color: red;
}
