.start {
  color: aliceblue;
  border-color: aliceblue;
}
.start:hover {
  background-color: #61a3ba;
  border: #6ac0df;
}
.login {
  background-color: #61a3ba !important;
  border: #61a3ba;
}
.signup {
  background-color: #61a3ba !important;
  border: #61a3ba;
}
.search {
  background-color: #61a3ba !important;
  border: #61a3ba;
}
.details {
  color: black;
  border-color: black;
}
.details:hover{
  background-color: #61a3ba;
  border: #6ac0df;
}
