.bgColor {
  background: linear-gradient(to bottom, #e6b325, #f9efdb);
  height: 200px;
}
.tabs {
  gap: 40px;
  border: white;
}
.tabs :hover {
  /* border-color: #e6b325 !important; */
  color: aliceblue;
}
